body{
background-image: url("https://www.nationalparks.org/sites/default/files/styles/wide_2x/public/9109117816_0273acc123_o.jpg?itok=Ih1OhUHy&timestamp=1468510939");
background-color: #cccccc;
background-size: cover;
}
h1{
  position: absolute;
  text-align: center;
}
